{
  "dialect": "{{ semaphore_db_dialect }}",
{% if semaphore_db_dialect == 'bolt' %}
  "bolt": {"host": "{{ semaphore_bolt_path }}"},
{% endif %}
  "tmp_path": "{{ semaphore_tmp_path }}",
  "cookie_hash": "{{ semaphore_effective_keys.cookie_hash }}",
  "cookie_encryption": "{{ semaphore_effective_keys.cookie_encryption }}",
  "access_key_encryption": "{{ semaphore_effective_keys.access_key_encryption }}",
  "interface": "{{ semaphore_interface }}",
  "port": ":{{ semaphore_port }}",
  "web_host": "http://{{ semaphore_interface }}:{{ semaphore_port }}/",
  "max_parallel_tasks": {{ semaphore_max_parallel_tasks | default(0) }},
  "ssh_config_path": "{{ semaphore_home }}/.ssh/config"
}
