{
  "log": {"loglevel": "warning"},
  "policy": {
    "levels": {
      "0": {"handshake": 4, "connIdle": 300, "uplinkOnly": 0, "downlinkOnly": 0}
    }
  },
  "dns": {
    "hosts": {
      "dns.google": ["8.8.8.8", "8.8.4.4"],
      "cloudflare-dns.com": ["1.1.1.1", "1.0.0.1"]
    },
    "servers": ["1.1.1.1", "1.0.0.1", "8.8.8.8", "9.9.9.9"],
    "queryStrategy": "UseIPv4"
  },
  "inbounds": {% include 'inbounds.json.j2' %},
  "outbounds": [
    {
      "tag": "DIRECT",
      "protocol": "freedom",
      "settings": {"domainStrategy": "UseIPv4"},
      "streamSettings": {"sockopt": {"tcpNoDelay": true, "tcpFastOpen": true}}
    },
    {"tag": "BLOCK", "protocol": "blackhole"}
  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "domainMatcher": "hybrid",
    "rules": [
      {"type": "field", "domain": ["geosite:private", "geosite:category-ads-all"], "outboundTag": "BLOCK"},
      {"type": "field", "ip": ["geoip:private"], "outboundTag": "BLOCK"},
      {"type": "field", "protocol": ["bittorrent"], "outboundTag": "BLOCK"},
      {"type": "field", "network": "udp", "port": 443, "outboundTag": "BLOCK"},
      {"type": "field", "network": "tcp,udp", "outboundTag": "DIRECT"}
    ]
  }
}
